.main {
    max-height: 50vh;
    .mainContent {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--white);
        .punkHighlight {
            flex: 0.25;
            display: flex;
            align-items: center;
            justify-content: center;
            .punkContainer {
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                margin-right: 20px;
                .selectedPunk {
                    object-fit: contain;
                    max-width: min(30vw, 40vh);
                    max-height: 30vw;
                }
            }
        }
        .punkDetails {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex: 0.75;
            .title {
                font-size: 96px;
                font-weight: 800;
            }
            .itemNumber {
                color: #a1a5b0;
                font-size: 72px;
                align-self: center;
            }
        }
        .owner {
            display: flex;
            margin: 10px 0;
            height: 50px;
            > div {
                margin: 0 5px;
            }

            .ownerImageContainer {
                height: 50px;
                width: 50px;
                border-radius: 100%;
                overflow: hidden;
                object-fit: contain;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .ownerDetails {
                display: flex;
                align-items: center;
                flex: 1;
                .ownerNameHandle {
                    flex: 1;
                    .ownerHandle {
                        color: #00ebfe;
                    }
                }

                .ownerlink {
                    padding: 12px;
                    border-radius: 50px;
                    height: 50px;
                    height: 50px;
                    border: 1px solid var(--white);
                    margin: 0 0 0 10px;
                    cursor: pointer;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
